<div class="left">
  <img ngSrc="assets/images/logo.svg" width="108" height="24" routerLink="" />
  <nav>
    <a routerLink="/home" routerLinkActive="active">Cloud Design</a>
    <a routerLink="/rayware" routerLinkActive="active">Rayware</a>
    <a routerLink="/fleet_management" routerLinkActive="active">Fleet Management</a>
  </nav>
</div>
<div class="right">
  <button>
    <mat-icon
      svgIcon="3d-printer"
      matBadge="1"
      matBadgeSize="small"
      matBadgePosition="after"
      matBadgeColor="accent"
    >
    </mat-icon>
  </button>
  <button>
    <mat-icon
      class="material-icons-outlined"
      matBadge="1"
      matBadgeSize="small"
      matBadgePosition="after"
      matBadgeColor="accent"
      >notifications_outline</mat-icon
    >
  </button>
  <button>
    <mat-icon class="material-icons-outlined">cloud_outline</mat-icon>
  </button>
  <button class="user">
    <img ngSrc="assets/images/avatar.png" width="40" height="40" />
    <mat-icon class="material-icons-outlined">expand_more</mat-icon>
  </button>
</div>
