:host {
  position: sticky;
  top: 0;
  background-color: var(--bg-dark);
  padding: 0 32px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1047px) {
    padding: 0 16px;
  }
}

.left {
  display: flex;
  align-items: center;
  img {
    cursor: pointer;
    margin-right: 40px;
  }
  nav {
    display: flex;
    a {
      position: relative;
      padding: 22px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: var(--font-white-me);
      text-decoration: none;
      box-sizing: border-box;
      height: 64px;
      cursor: pointer;
      &:hover {
        color: var(--font-white-he);
      }
      &.active {
        border-bottom: 3px solid #cc0033;
      }
    }
  }
  @media screen and (max-width: 1047px) {
    nav {
      display: none;
    }
  }
}

.right {
  display: flex;
  align-items: center;
  button {
    display: flex;
    align-items: center;
    border: none;
    border-left: 1px solid var(--divider-dark);
    padding: 20px 40px;
    background-color: transparent;
    color: var(--font-white-me);
    cursor: pointer;
    &:hover {
      color: var(--font-white-he);
    }
    &.mobile {
      display: none;
    }
    &.user {
      padding: 12px 0 12px 40px;
      img {
        border-radius: 50%;
        margin-right: 8px;
      }
    }
  }
  @media screen and (max-width: 1047px) {
    button {
      border-left: none;
      padding: 20px 0;
    }
    button + button {
      margin-left: 32px;
    }
    button.mobile {
      display: initial;
    }
    button.user {
      display: none;
    }
  }
}
