:host {
  display: flex;
  flex-direction: column;
}

.clickable {
  cursor: pointer;
}

main {
  display: flex;
  min-height: calc(100vh - 64px - 52px);
  @media screen and (max-width: 1047px) {
    flex-direction: column;
  }
  aside {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-width: 360px;
    box-sizing: border-box;
    padding: 32px;
    @media screen and (max-width: 1047px) {
      padding: 22px 16px;
      background-color: #191919;
      border-top: 1px solid rgba(255, 255, 255, 0.08);
    }
    > .title {
      padding-bottom: 28px;
      margin-bottom: 16px;
      h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: var(--font-dark-he);
        margin-bottom: 4px;
        @media screen and (max-width: 1047px) {
          color: var(--font-white-he);
          font-size: 16px;
          line-height: 24px;
        }
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--font-dark-me);
        margin-bottom: 0;
        @media screen and (max-width: 1047px) {
          color: var(--font-white-me);
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.4px;
        }
      }
      border-bottom: 1px solid var(--divider-light);
      @media screen and (max-width: 1047px) {
        border-bottom: none;
        padding: 0;
        margin-bottom: 0;
      }
    }
    .treatment-step {
      .treatment {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .img-container {
          width: 56px;
          height: 56px;
          background: #f2f3f5;
          border-radius: 8px;
          padding: 4px;
          box-sizing: border-box;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .title {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: var(--font-dark-me);
          letter-spacing: 0.4px;
          margin-bottom: 4px;
        }
        .name {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: var(--font-dark-he);
          margin-bottom: 0;
        }
        .empty {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 0;
          color: var(--font-dark-me);
        }
        .properties {
          display: flex;
          flex-direction: column;
          gap: 12px;
          .property {
            display: flex;
            justify-content: space-between;
            .label {
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              color: var(--font-dark-me);
            }
            .value {
              font-weight: 500;
              font-size: 12px;
              line-height: 16px;
              color: var(--font-dark-he);
            }
          }
        }
      }
      @media screen and (max-width: 1047px) {
        display: none;
      }
    }
  }
  article {
    padding: 0 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @media screen and (max-width: 1047px) {
      padding: 0 16px;
    }
    .header {
      padding: 26px 0;
      border-bottom: 1px solid var(--divider-light);
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      @media screen and (max-width: 1047px) {
        padding: 24px 0;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 4px;
        color: var(--font-dark-me);
        @media screen and (max-width: 1047px) {
          margin-bottom: 8px;
        }
      }
      h1 {
        font-weight: 400;
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 0;
        color: var(--font-dark-he);
        white-space: nowrap;
        @media screen and (max-width: 1047px) {
          font-size: 24px;
          line-height: 28px;
        }
      }
      .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
        width: 100%;
        mat-form-field {
          color: var(--font-dark-he);
          &:first-of-type {
            max-width: 288px;
            width: 100%;
            .mat-form-field-infix {
              width: auto;
            }
            @media screen and (max-width: 1179px) {
              max-width: none;
            }
          }
          &:last-of-type {
            max-width: 200px;
            width: 100%;
          }
        }
      }
      @media screen and (max-width: 1179px) {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        .right {
          justify-content: flex-start;
        }
      }
    }
    .featured,
    .category-filter {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 24px;
      &.small-margin {
        margin-bottom: 16px;
      }
      .title {
        display: flex;
        align-items: center;
        mat-icon {
          width: 16px;
          height: 16px;
          font-size: 16px;
          margin-right: 8px;
        }
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--font-dark-me);
      }
      .recent-treatments {
        display: flex;
        gap: 16px;
        overflow: scroll;
        @media screen and (min-width: 1440px) {
          display: grid;
          grid-template-columns: repeat(4, minmax(246px, 333px));
        }
        @media screen and (min-width: 1702px) {
          grid-template-columns: repeat(5, minmax(246px, 333px));
        }
      }
    }
    .treatments {
      display: grid;
      grid-template-columns: repeat(4, minmax(246px, 333px));
      gap: 16px;
      @media screen and (min-width: 1702px) {
        grid-template-columns: repeat(5, minmax(246px, 333px));
      }
      @media screen and (max-width: 1439px) {
        grid-template-columns: repeat(3, minmax(246px, 333px));
      }
      @media screen and (max-width: 1179px) {
        grid-template-columns: repeat(2, minmax(246px, 400px));
      }
      @media screen and (max-width: 1047px) {
        grid-template-columns: repeat(3, minmax(246px, 333px));
      }
      @media screen and (max-width: 801px) {
        grid-template-columns: repeat(2, minmax(100px, 400px));
      }
    }
    .no-results-found {
      display: flex;
      justify-content: center;
      gap: 24px;
      align-items: center;
      margin-top: 136px;
      > * {
        max-width: 416px;
        width: 100%;
        flex-shrink: 0;
      }
      h3 {
        font-weight: 300;
        font-size: 48px;
        line-height: 56px;
        color: var(--font-dark-he);
        margin-bottom: 16px;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--font-dark-me);
        margin-bottom: 0px;
      }
    }
  }
  .helper-tooltip {
    position: absolute;
    top: -81px;
    left: 50%;
    transform: translateX(-50%) translate3d(0, 0, 0);
    padding: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    width: 80px;
    height: 48px;
    letter-spacing: normal;
    box-sizing: border-box;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    background: #535455;
    border-radius: 4px;
    opacity: 0;
    &::after {
      position: absolute;
      right: -4px;
      transform: translateY(-50%) rotate(45deg);
      transform-origin: center center;
      top: 50%;
      content: "";
      width: 12px;
      height: 12px;
      background: #535455;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  color: var(--font-dark-me);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-top: 22px;
  padding-bottom: 76px;
  margin-top: auto;
  @media screen and (max-width: 1179px) {
    flex-direction: column;
    gap: 12px;
  }
  @media screen and (max-width: 1047px) {
    padding-bottom: 96px;
    align-items: flex-end;
    justify-content: flex-end;
    .links {
      flex-direction: column;
      align-items: flex-end;
    }
  }
  p {
    margin-bottom: 0;
  }
  .links {
    display: flex;
    gap: 12px;
  }
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--font-dark-me);

    mat-icon {
      height: 16px;
      width: 16px;
      font-size: 16px;
      margin-right: 4px;
    }
  }
}

.stepper {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px 32px;
  height: 52px;
  border-top: 1px solid var(--divider-light);
  background: #ffffff;
  button {
    min-width: 128px;
    line-height: 32px;
    min-height: 32px;
    font-size: 12px;
    letter-spacing: 1px;
    .step-helper {
      position: absolute;
      top: -81px;
      left: 50%;
      transform: translateX(-50%) translate3d(0, 0, 0);
      padding: 8px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      width: 80px;
      height: 48px;
      letter-spacing: normal;
      box-sizing: border-box;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      transition: top 250ms, opacity 50ms;
      transition-timing-function: cubic-bezier(0.45, 0.15, 0.22, 1.29);
      background: #cc0033;
      border-radius: 4px;
      opacity: 0;
      &.show {
        top: -60px;
        transition: top 500ms, opacity 50ms;
        opacity: 1;
      }
      &::after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        transform-origin: center center;
        bottom: -4px;
        content: "";
        width: 12px;
        height: 12px;
        background: #cc0033;
      }
    }
  }
  .steps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0 32px;
    align-items: center;
    gap: 8px;
    .divider {
      border: 0.5px solid rgba(0, 0, 0, 0.06);
      width: 100%;
    }
    .step {
      display: flex;
      gap: 8px;
      align-items: center;
      color: var(--font-dark-disabled);
      white-space: nowrap;
      .chip {
        width: 24px;
        height: 24px;
        text-align: center;
        padding: 0px 7px;
        border-radius: 64px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.4px;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
      }
      &.current {
        color: var(--font-dark-he);
        .chip {
          background: #535455;
        }
      }
    }
  }
  .mobile {
    display: none;
  }
  @media screen and (max-width: 1047px) {
    height: 72px;
    .desktop {
      display: none;
    }
    .mobile {
      display: unset;
    }
    .steps {
      display: none;
    }
  }
}
